* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
}

main {
  margin: 2rem;
  max-width: 100ch;
  margin: auto;
}

main h1 {
  margin-top: 2rem;
  text-align: center;
}

main p {
  margin-top: 2rem;
}
